*{
  box-sizing: padding-box;
}
body{
  margin: 0 auto;
}

p{
  text-align: center;
}

.container {
    text-align: center;
}

.button {
    /*position: absolute;
    top: 50%;*/
    display: inline-block;
}

.cards{
  border: 1px solid grey;
  height: 200px;
  width: 150px;
  display: inline-block;
}

img{
  max-height: 100%;
  max-width: 100%;
}
